body {
  margin: 0px;
  padding: 0px;}
  .container {
  margin: 0px;
  padding: 0px;}
  .border {border-style: solid;}
  #headerTable>th{
	background-color: #3f51b5;
	color:white
  }
  
  .positionBookingView {
    position: fixed;
    width: 20%;
	height: 100%;
    top: 0;
	right: 0;
	background-color: red;
}
  
  Button {
	padding: 5px 15px 5px 15px;
	background-color: #FF1244;
	color: white;
	border-radius: 2px;
  }
  .btn.focus, .btn:focus, .btn:hover {
	  background-color: #F11540;
	  color: #fdfdfd;
  }
  .center {
	  text-align: center;
  }
	.mdl-data-table td {
	vertical-align: top;
  }
  ul {
	-webkit-padding-start: 0px;
  }
  .mdl-data-table td ul li {
	list-style: #1A237E;
	color:#2196F3;
  }
  .info ul li,.Price ul li {
	list-style: none;
  }

  .mdl-cell {
    text-align: left;
  }