.productCard {
	padding: 0;
	margin: 10px;
	border-color: white;
	border-radius: 5px;
	border-width: 1px;
	background-color: white;
}

.infoCard {
	padding: 10px;
}

.imgProduct {
	width: 100%;
	text-align: left;
}

.nameProduct {
	color: #FF1744;
	padding-top: 6px;
	text-align: left;
}

.priceProduct {
	color: #3D5AFE;
	padding-top: 2px;
	text-align: left;
}

.qualityProduct {
	color: #757575;
	padding-top: 2px;
	text-align: left;
}


.infoProduct {
	color: #757575;
	padding-top: 2px;
	text-align: left;
}