<div class="loginForm wow flipInX" data-wow-duration="1s" data-wow-delay="7s">
	 <form action="LoginFilter" class="login">
      <div class="title">Login</div>
      <div class="input">
        <span class="iconLogin glyphicon glyphicon-user"></span><input type="text" placeholder="username" name="username" required />
      </div>
      
      <div class="input">
        <span class="iconLogin glyphicon glyphicon-option-horizontal"></span><input type="password" placeholder="Password" name="pass"  required />
      </div>
      
      <button type="submit" class="btn btn-primary submit"><i class="fa fa-long-arrow-right">Login</i></button>
  </form>
</div>